/* Define o estilo base para o avatar */
.avatar {
    width: 3rem;         /* Define a largura do avatar */
    height: 3rem;        /* Define a altura do avatar */
    border-radius: 8px;  /* Define os cantos arredondados do avatar */
}

/* Define o estilo para o avatar com borda */
.avatarWithBorder {
    width: calc(3rem + 12px);            /* Define a largura do avatar incluindo a borda */
    height: calc(3rem + 12px);           /* Define a altura do avatar incluindo a borda */
    border-radius: 8px;                  /* Define os cantos arredondados do avatar */
    border: 4px solid var(--gray-800);   /* Define a cor e a largura da borda */
    outline: 2px solid var(--green-500); /* Define uma linha de contorno adicional */
}
